/* TODO(caleb): Can we use sass or something with jekyll on GH pages? */

/* Reset */
* {
  margin: 0;
  padding: 0;
  line-height: 100%;
}

body {
  font-family: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
  font-size: 18px;
  background-image: url(/images/background.png);
  width: 900px;
  margin: 0 auto;
  padding-top: 35px;
}

h1, h2, h3, h4, h5, h6 { font-weight: normal; }

h1, h2 {
  /* Varela is a font which is loaded using Google Web Fonts. */
  font-family: "Varela", sans-serif;
  letter-spacing: -1px;
}

a {
  color: #D20000;
  padding: 0 3px;
  margin: 0 -3px;
}

a:hover {
  background-color: #C41D11;
  color: white;
  box-shadow: 0px 0px 4px #E77245;
}

p {
  line-height: 160%;
}

.brownText {
  color: #866949;
}

#header {
  padding: 0 15px;
  font-size: 20px;
}

#videoBox {
  float: right;
}

#videoBox h1 {
  margin-bottom: 15px;
  font-size: 44px;
  color: #D20000;
  text-shadow: 0px 1px 1px #444;
  font-weight: bold;
  height: 45px;
}

h1 span#barkeepText {
  color: #404040;
}

#video {
  width: 560px;
  height: 314px;
  box-shadow: 0 3px 8px #555;
}

#introLinks {
  margin-bottom: 38px;
}

#introLinks img {
  /* This margin makes the barkeep head aligned with the top of the video. */
  margin-top: 58px;
  height: 200px;
  margin-left: -2px;
}
#introLinks ol {
  margin-top: 15px;
  margin-bottom: 20px;
}
#introLinks li {
  margin: 12 0px;
}
#introLinks li#watchThisVideo {
  padding-top: 3px;
  background: transparent url(/images/brown_arrow.png) no-repeat 162px -5px;
}

h2 {
  font-size: 30px;
  margin: 20px 0;
}

#frontPage h2 {
  padding: 0 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #A1864E;
  margin-bottom: 10px;
  margin-top: 25px;
}

#frontPage p {
  padding: 0 15px;
}

#featureTable td {
  padding: 0 15px;
  width: 33%;
  vertical-align: top;
}

#featureTable tr:nth-of-type(2) > td {
  padding-top: 10px;
}

#featureTable p {
  padding: 0;
}

#featureTable h3 {
  color: #866949;
  font-style: italic;
  margin-bottom: 5px;
}

footer {
  margin: 50px 0;
  font-size: 13px;
  text-align: center;
}